.game-container .game-control {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.game-container button {
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 5px 25px;
  transition-duration: 350ms;
  cursor: pointer;
  color: #444;
}
.game-container button:hover {
  background-color: #bbb;
}
.game-container .canvas-container .game-canvas {
  outline: 1px solid black;
}
.game-container .canvas-container .game-canvas:focus {
  outline: 2px solid black;
}
